body {
    font: 14px 'Source Han Sans KR', 'Noto Sans CJK KR', '함초롬돋움 LVT','HCR Dotum LVT','함초롬바탕 LVT', 'HCR Batang LVT','본고딕','Source Han Sans K','본고딕 KR','NanumBarunGothic YetHangul', '나눔바른고딕 옛한글','나눔명조 옛한글','NanumMyeongjo YetHangul','은 바탕','Un Batang','돋움 옛한글', 'Dotum Old Hangul','바탕 옛한글','Batang Old Hangul','굴림 옛한글','NewGulim Old Hangul','궁서 옛한글', 'Gungsuh Old Hangul','맑은 고딕','Malgun Gothic','함초롬돋움','HCR Dotum','함초롬바탕','HCR Batang', 'Code2000', sans-serif;
    margin: 0;
    background-color: #ddd;
}

header a {
    color: inherit;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.add_definition {
    padding-top: 10px;
    padding-bottom: 10px;
}

.add_definition .add_definition_inside {
    background-color: #333355;
}
.add_definition:hover .add_definition_inside {
    min-height: 2px;
}

.add_definition button {
    display: none;
}

.add_definition:hover button {
    display: initial;
}

.definition h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.lemma .yale {
    font-style: italic;
}

.preview {
    font-size: 20pt;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15pt;
}


footer {
    background-color: black;
    color: white;
    padding: 10px;
}

.loadingWrapper {
    position: relative;
    min-height: 100px;

    display: grid;
    grid-template-columns: min-content auto;
}

.loadingWrapper .year {
    padding-right: 10px;
    color: grey;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis "..";
    max-width: 80px;
    text-align: center;
    user-select: none;
}

.loadingWrapper .year div {
    position: sticky;
    top: 0px;
}

.loadingWrapper > span {
    padding-top: 5px;
    padding-bottom: 5px;
}

.loadingWrapper > span:nth-child(4n+1),
.loadingWrapper > span:nth-child(4n) {
    background-color: #ddd;
}

.searchEntry:hover {
    background-color: #ddf;
}

.sentence .sourceWrapper {
    color: #333;
}

.sentence .source {
    color: #333;
    white-space: nowrap;
    border: none;
    text-decoration: none;
}

.sentence .source:hover {
    border-bottom: 2px dashed #333;
}

.dividerBottom {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.dividerTop {
    border-top: 1px solid black;
    margin-top: 10px;
}

.sourceSentence {
    display: flex;
    line-height: 30pt;
    padding-left: 5pt;
    padding-right: 5pt;
}

.sourceSentence.sentence_type_title {
    line-height: 40pt;
}

.sourceSentence:nth-child(odd) {
    background-color: #eee;
}

.sourceSentence .text {
    font-size: 15pt;
    flex-grow: 1;
}

.sourceSentence.sentence_lang_chi .text {
    color: #000099;
}

.sourceSentence.sentence_type_title .text {
    font-size: 20pt;
    text-align: center;
}

.sourceSentence[class*="sentence_type_anno"] .text {
    font-size: 13pt;
    padding-left: 20pt;
}

.sourceSentence .pageNum {
    color: grey;
    font-size: 9pt;
}

.sourceSentence .pageNum::before {
    content: "(";
}

.sourceSentence .pageNum::after {
    content: ")";
}

.sourceMark {
    text-align: center;
    padding: 10px;
}

.sourceMark:nth-child(odd) {
    background-color: #eee;
}

.sourceMark span {
    font-size: 15pt;
    color: white;
    background-color: black;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.paginator li {
    list-style-type: none;
}

.paginator li a {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 20px;
    text-decoration: none;
    border-bottom: 1px dotted black;
    text-align: center;
    cursor: pointer;
}

.paginator .previous a, .paginator .next a {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    border-bottom: none;
}

.paginator .disabled {
    display: none;
}

.paginator li.selected a {
    border: none;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    min-width: 15px;
    text-align: center;
}


.loading {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: top;
    font-size: 30pt;
    opacity: 100%;
    padding-top: 10px;
    transition: opacity .25s ease-in-out;
}

.loading.loaded {
    opacity: 0%;
    display: none;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

.highlight{
    background-color: #FEB7B3;
    font-weight: bold;
}

.highlight.s0{
    background-color: #FEB7B3;
}

.highlight.s1{
    background-color: #FAE100;
}

.highlight.s2{
    background-color: #92F294;
}

.highlight.s3{
    background-color: #AFB1ED;
}

.highlight.s4{
    background-color: #97E5D7;
}

.highlight.s5{
    background-color: #88CEFB;
}

.matchLegend {
    padding-top: 4px;
    padding-bottom: 4px;
}

.matchLegendItem {
    border: 1px solid grey;
    border-radius: 6px;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 2.0;
    user-select: none;
}

.colorShower {
    color: #FEB7B3;
    margin-right: 3px;
}

.colorShower::after {
    content: "●";
}

.matchLegendItem:hover .colorShower::after,
.matchLegendItem.disabled .colorShower::after {
    color: black;
    content: "×";
}

.matchLegendItem:hover,
.matchLegendItem.disabled {
    background-color: #eee;
}

.matchLegendItem:hover .matchLegendWord {
    text-decoration: line-through;
}

.colorShower.s0 {
    color: #FEB7B3;
}

.colorShower.s1 {
    color: #FAE100;
}

.colorShower.s2 {
    color: #92F294;
}

.colorShower.s3 {
    color: #AFB1ED;
}

.colorShower.s4 {
    color: #97E5D7;
}

.colorShower.s5 {
    color: #88CEFB;
}

.romCheckBox {
    float: right;
}

.featureContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 5px;
    min-width: 150px;
}

.featureFrame {
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.featureFrameTop {
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    border-top: 2px solid black;
}

.featureFrameBottom {
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
}

.featureDraggable {
    border: 1px solid black;
    padding: 5px;
    cursor: grab;
    background-color: #001338;
    color: white;
    font-weight: bold;
    filter: drop-shadow(0px 0px 3px lightgrey);
}

.featureHead {
    font-weight: bold;
    padding: 3px;
    text-align: center;
    background-color: #EEE;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    outline: 1px dashed darkgrey;
}

.featureTable {
    display: grid;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 5px;
}

.featureCell {
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    outline: 1px dashed darkgrey;
}
